@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/indigo.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, JetBrains Mono, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

textarea {
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  color: inherit;
}

pre {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--fg);
  margin: 0;
  display: inline-block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: start;
  user-select: none;
  word-spacing: normal;
  text-rendering: auto;
}

pre,
textarea {
  /* line-height: 1.7; */
  font-size: 1rem;
  font-family: var(--font-sans);
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#sidebar::-webkit-scrollbar-track {
  background-color: var(--red3);
}

#sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: var(--red3);
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: var(--red6);
  border-radius: 3px;
}

textarea::-webkit-scrollbar-track {
  background-color: var(--indigo3);
}

textarea::-webkit-scrollbar {
  width: 5px;
  background-color: var(--indigo3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--indigo6);
  border-radius: 3px;
}
