.main {
  display: flex;
  height: 100%;
}

.addButton {
  background-color: var(--red6);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  color: var(--red11);
  border-width: 0px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.addButton:hover {
  background-color: var(--red7) !important;
}

.trash:hover {
  cursor: pointer;
}
